In [1]:
import os
import csv

In [2]:
import pandas as pd

In [3]:
election_path = os.path.join("Resources", "election_data.csv")
print(election_path)

Resources\election_data.csv

In [4]:
election_df = pd.read_csv(election_path)
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [5]:
election_df[["Voter ID", "Candidate"]].head()

   Voter ID Candidate
0  12864552      Khan
1  17444633    Correy
2  19330107      Khan
3  19865775      Khan
4  11927875      Khan

In [6]:
#TOTAL VOTES
total_votes = len(election_df)

In [7]:
#CANDIDATES & VOTES
candidates = election_df["Candidate"].value_counts()
candidates

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [8]:
#PERCENTAGES
vote_percentages = round(candidates/total_votes * 100, 2)
vote_df = pd.DataFrame({
    "Percentages": vote_percentages,
    "Total Votes": candidates
})
#sets the index starting back to 0
#highest to lowest percentage (sort_values("Column name",ascending=False)
vote_df = vote_df.reset_index().sort_values("Percentages",ascending=False)
vote_df

      index  Percentages  Total Votes
0      Khan         63.0      2218231
1    Correy         20.0       704200
2        Li         14.0       492940
3  O'Tooley          3.0       105630

In [44]:
#reads left to right
vote_orders_df=vote_df.rename(columns={"index":"Candidate"})
vote_orders_df

  Candidate  Percentages  Total Votes
0      Khan         63.0      2218231
1    Correy         20.0       704200
2        Li         14.0       492940
3  O'Tooley          3.0       105630

In [50]:
winner = election_df["Candidate"].value_counts()
winner

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [55]:
with open("election.txt", "w") as file:
        file.write(f"\n\nElection Results\n")
        file.write(f"-------------------------\n")
        file.write(f"Total Votes: {total_votes}\n")
        file.write(f"-------------------------\n")
        file.write(f"{vote_orders_df}\n")
        file.write(f"-------------------------\n")
        file.write(f"Winner: Khan\n"
        )

In [62]:
for i,row in vote_df.iterrows():
    print (f'{row["Candidate"]}: {row["Percentages"]}% ({row["Total Votes"]}')

Khan: 63.0% (2218231
Correy: 20.0% (704200
Li: 14.0% (492940
O'Tooley: 3.0% (105630